#left {
    max-width: 100%;
}

#right {
    width: 40;
    height: 100%;
    border: solid white;
}

Markdown {
    height: 50%;
    border: solid white;
    scrollbar-size: 0 0;
}

Log {
    height: 50%;
    border: solid white;
    overflow: scroll scroll;
    scrollbar-size: 0 0;
}

Tree {
    scrollbar-size: 0 0;
}
